<h1>Productos</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">illustracion</th>
    </tr>
  </thead>
  <tbody >
    {{#each producto}}
    <tr>
      <td>{{tittle}}</td>
      <td>{{price}}</td>
      <td><img src="{{thumbnail}}" style="height: 40px;"/></td>
      
    </tr>
    {{/each}}
</table>
<button onclick="window.location.href='http://localhost:8080/'" class="btn btn-primary">Agregar nuevo producto</button>






